spring:
  application:
    name: notification-service
  config:
    import: optional:classpath:secrets.properties
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notificationService
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        schema.registry.url: http://127.0.0.1:8086
        specific.avro.reader: true
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: ${mail.username}
    password: ${mail.password}
  jackson:
    deserialization:
      fail-on-unknown-properties: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: notification-service-instance-${random.uuid}
    prefer-ip-address: true

server:
  port: 8085