target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
user-service/src/main/resources/secrets.properties
review-service/src/main/resources/secrets.properties
property-service/src/main/resources/secrets.properties
booking-service/src/main/resources/secrets.properties
api-gateway/src/main/resources/secrets.properties
notification-service/src/main/resources/secrets.properties
.env

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store