spring:
  application:
    name: booking-service
  config:
    import: optional:classpath:secrets.properties
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5433/booking_service_db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
    hibernate:
      ddl-auto: validate
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  kafka:
    bootstrap-servers: localhost:9092
    template:
      default-topic: booking-created
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://127.0.0.1:8086

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

jwt:
  secret: ${jwt.secret}

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: booking-service-instance-${random.uuid}
    prefer-ip-address: true

server:
  port: 8082

application:
  frontend-url: ${FRONTEND_URL:http://localhost:5173}
  endpoint:
    root: /api/v1/bookings
    id: /{id}
    booking-history-by-id: /history/{id}
    booking-status: /{id}/status
    availability: /availability
    was-booked: /was-booked
    available-dates: /available-dates

feign-client:
  endpoint:
    property-exists: /api/v1/properties/{id}/exists
    user-exists: api/v1/users/{id}/exists
    get-property-by-id: /api/v1/properties/{id}