server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://postgres-booking:5432/booking_service_db
    username: postgres
    password: postgres
  kafka:
    bootstrap-servers: kafka:29092
    producer:
      properties:
        schema.registry.url: http://schema-registry:8081
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@discovery-server:8761/eureka
