server:
  port: 8084

spring:
  datasource:
    url: jdbc:postgresql://postgres-user:5432/user_service_db
    username: postgres
    password: postgres
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@discovery-server:8761/eureka
