spring:
  application:
    name: user-service
  config:
    import: optional:classpath:secrets.properties
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5436/user_service_db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  mvc:
    hiddenmethod:
      filter:
        enabled: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

logging:
  level:
    org.springframework.security.web: DEBUG

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: user-service-instance-${random.uuid}
    prefer-ip-address: true

jwt:
  secret: ${jwt.secret}
  lifetime: 30m

server:
  port: 8084

application:
  endpoint:
    auth:
      root: /api/v1/auth
      sign-in: /sign-in
      sign-up: /sign-up
    users:
      root: /api/v1/users
      id: /{id}
      assign-owner: /{id}/assign-owner
      exists: /{id}/exists
      info: /info