spring:
  application:
    name: property-service
  config:
    import: optional:classpath:secrets.properties
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5434/property_service_db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: property-rating-updater
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        schema.registry.url: http://localhost:8081
        specific.avro.reader: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: property-service-instance-${random.uuid}
    prefer-ip-address: true

jwt:
  secret: ${jwt.secret}

server:
  port: 8081

application:
  endpoint:
    root: /api/v1/properties
    id: /{id}
    search: /search
    availability: /{id}/availability
    available-dates: /{id}/available-dates
    exists: /{id}/exists

feign-client:
  endpoint:
    property-availability: /api/v1/bookings/availability
    available-dates: /api/v1/bookings/available-dates
    user-exists: /api/v1/users/{id}/exists