server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://postgres-property:5432/property_service_db
    username: postgres
    password: postgres
  kafka:
    bootstrap-servers: kafka:29092
    consumer:
      group-id: property-rating-updater
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
      properties:
        schema.registry.url: http://schema-registry:8081
        specific.avro.reader: true
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@discovery-server:8761/eureka