spring:
  application:
    name: review-service
  config:
    import: optional:classpath:secrets.properties
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5435/review_service_db
    username: postgres
    password: postgres
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
  jackson:
    serialization:
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  kafka:
    bootstrap-servers: localhost:9092
    template:
      default-topic: rating-updated
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: io.confluent.kafka.serializers.KafkaAvroSerializer
      properties:
        schema.registry.url: http://localhost:8081

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: review-service-instance-${random.uuid}
    prefer-ip-address: true

jwt:
  secret: ${jwt.secret}

server:
  port: 8083

application:
  endpoint:
    root: /api/v1/reviews
    reviews-by-property-id: /property/{id}

feign-client:
  endpoint:
    property-exists: /api/v1/properties/{id}/exists
    user-exists: api/v1/users/{id}/exists
    was-booked: /api/v1/bookings/was-booked