server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://postgres-review:5432/review_service_db
    username: postgres
    password: postgres
  kafka:
    bootstrap-servers: kafka:29092
  data:
    redis:
      host: redis
      port: 6379
  cache:
    type: redis

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:password@discovery-server:8761/eureka